[user]
	name = Ian Graves
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	gud = reset --hard
	lost = reset --hard
	moar = pull
	frakked = rm
	rekt = push --force
	buzzed = push --force-with-lease
	co = checkout
